version: "3.8"
name: "shakespeare_db"
services:
  perseus_database:
    image: mysql:8.3.0
    restart: always
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USERNAME}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
    ports:
      - ${DATABASE_PORT}:3306
    expose:
      - ${DATABASE_PORT}
    volumes:
      - perseus_db:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d/
volumes:
  perseus_db: